<!doctype html>

<html>
<head>
	<title>420 Praise It</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/hci-friends.css" rel="stylesheet">
	<link rel="icon" href="/images/favicon.ico" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>
<body style='background-image: url("{{background}}");'>
	<div class='container'>

		<div id='youtube-submit-form' class='container'>
			<h1 style='text-align:center;'>Happy Easter 4/20 Praise It!</h1>

			<div id='player' class='container'>

			</div>

			<h3 style='text-align:center;'>PraiseList</h3>
		
			<form class="form-inline" role="form" method="get" action="/addSong" style="margin-bottom:15px;">
				<div class="form-group col-md-5">
					<input type="text" class="form-control" name="name" id="name-input" placeholder="Wayvee x Lunice x Wiz Khalifa - No Stress" required>
				</div>
				<div class="form-group col-md-6">
					<input type="text" class="form-control" name="link" id="link-input" placeholder="http://youtu.be/PCXO0r2DFRg" required>
				</div>
				<button type="submit" id='song-add-btn' class="btn btn-md">ADD</button>
			</form>

			<table class="table">

				{{#each songs}}
				<tr>
					<td>{{name}}</td>
					<td><a href="{{link}}" class='song_link' target="_blank">{{link}}</a></td>
				</tr>
				{{/each}}

			</table>


		<h3 style='text-align:center;'>BP Prayers</h3>
		
			<form class="form-inline" role="form" method="get" action="/addPlayers" style="margin-bottom:15px;">
				<div class="form-group col-md-5">
					<input type="text" class="form-control" name="player1" id="name-input" placeholder="Player 1 Name" required>
				</div>
				<div class="form-group col-md-6">
					<input type="text" class="form-control" name="player2" id="link-input" placeholder="Player 2 Name" required>
				</div>
				<button type="submit" id='song-add-btn' class="btn btn-md">ADD</button>
			</form>


			<table class="table">

				{{#each players}}
				<tr>
					<td>{{player1}}</td>
					<td>{{player2}}</td>
				</tr>
				{{/each}}

			</table>

		</div>

	</div>

	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/hci-friends.js"></script>
</body>
</html>
